Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@erencansev 
acarcem
/
PatikaDev-CSS_Odev_1
Public
Code
Issues
Pull requests
Actions
Projects
Security
Insights
PatikaDev-CSS_Odev_1/css/style.css
@acarcem
acarcem CSS ödev 1 eklendi
Latest commit dd394ed on 10 Feb
 History
 1 contributor
87 lines (71 sloc)  1.22 KB

/* Genel Ayarlar */

body{font-family: 'Roboto', sans-serif}

a, p {
    padding:0 4px;
    font-weight: 300;
}

.text-center{text-align: center}

/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2F86A6;
}

header h1{
    color: #F2F013
}
header nav ul{
    text-align: center;      
    list-style-type: none;
 }

header nav ul li{
    display: inline-block;
    padding-left: 12px;
 }

 header nav ul li a{
     text-decoration: none;
     color: #ffffff;
     transition: all .5s;
 }

 header nav ul li a:hover{
     color: #F2F013
 }

 /* Ana içerik alanı */

 main{
     margin-top: 120px;
 }

 .content{
     margin: 0 auto;
     width: 80%;
 }

.content ul{
    margin: 0 auto;
    width: 100px;
 }

/* Ürünler sayfası */

 .product-content ol li{
    margin-top: 20px;
    font-size: 18px;
}
.product-content img{
    padding: 12px;
}
.product-content p{
    font-size: 22px;
}
.product-content button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #ffffff;
    background-color: #E35600;
    transition: all .4s;
 }

 .product-content button:hover{
     background-color: #8a3e10;
 }
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Patika.dev-cases /style.css at main cansev